:root {
    --gradient: linear-gradient(90deg, #7bc5db , #149cc6);
    --main-color: #149cc6;
    --second-color: #7bc5db;
}
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
*::selection {
    background: var(--main-color);
    color: #fff;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 1.5rem;
}
html::-webkit-scrollbar-track {
    background-color: #333;
}
html::-webkit-scrollbar-thumb {
    background:linear-gradient(#7bc5db , #149cc6);
}
.container {
    margin: 0 50px;
}
a {
    text-decoration: none;
}
/* Main heading starts */
.main-header {
    text-align: center;
    /* padding: 20px 0; */
    margin-top: 75px;
    margin-bottom: 75px;
    /* padding-bottom: 15px; */
    color: var(--main-color);
    position: relative;
    /* width: 200px; */
    display: flex;
    justify-content: center;
    /* margin: 40px 0; */
    flex-direction: column;
}
.main-header h2 {
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 50px;
}
.main-header h2::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 1px;
    background-color: #333;
    top: 50%;
    right: -400px;
}
.main-header h2::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 1px;
    background-color: #333;
    top: 50%;
    left: -400px;
}
/* Main heading ends */

/* Start header */
header {
    position: absolute;
    /* right: 0; */
    width: 100%;
}
header .overlay {
    position: absolute;
    width: calc(100% + 117px);
    height: 100%;
    /* bottom: 0; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: var(--second-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    left: -55px;
    z-index: -1;
}
.logo img {
    width: 60px;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    z-index: 100;
    padding: 2rem 10%;
    /* background: var(--gradient); */
    /* box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3); */
}
/* header .container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
} */
header nav ul {
    display: flex;
    /* width: 100%; */
    list-style-type: none;
    padding: 0 1.5rem ;
}
header nav ul li {
    margin: 0 1.5rem;
    padding: 0 1rem;
}
header nav ul li a {
    font-size: 1.9rem;
    /* font-size: 14px; */
    color: #fff;
    color: #333;
}
header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
}
header .login {
    font-size: 2.7rem;
    /* font-size: 22px; */
    color: #333;
    cursor: pointer;
}
header .login:hover {
    color: var(--main-color);
}
/* End header */
/* Start landing */
.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80rem;
    position: relative;
    background-image: url("/img/creative-flat-lay-photo-workspace-desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.landing .overlay {
    width: 500px;
    height: calc(100% - 102px);
    position: absolute;
    left: 25px;
    bottom: 0;
    background-color: rgba(123, 197, 219, 0.5);
}
.landing .overlay .card {
    width: 400px;
    height: 500px;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    left: 200px;
    top: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.landing .card .text-card .right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 15px;
}
.landing .card .text-card .left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
}
.landing .card .text-card h2 {
    text-align: center;
    padding: 15px;
    font-size: 25px;
}
.landing .card .text-card p {
    font-size: 15px;    
    line-height: 2;
}
.landing .text {
    line-height: 1.5;
    z-index: 2;
}
.landing .text h2 {
    color: #444;
    font-size: 5rem;
    color: var(--main-color);
}
.landing .text p {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}
.landing .text a {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid #333;
    font-weight: bold;
    color: #333;
    font-size: 1.5rem;
}
.landing .text a:hover {
    background-color: var(--main-color);
    border-color:var(--main-color);
    color: #fff;

}
/* End landing */
/* Start values */
.about {
    background-image: url("/img/about2.jpg");
    background-size: cover;
    margin-top: 50px;
    position: relative;
}
.about::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.about .container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.about .box {
    width: 250px;
    position: relative;
    z-index: 5;
}
.about .box .text {
    font-size: 15px;
    line-height: 1.4;
    margin-top: 15px;
    color: #fff;
}
.about .box .text h4 {
    margin-bottom: 10px;
}
.about i {
    font-size: 25px;
    color: #fff;
}
/* End values */
/* Start services */
.courses .courses-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.courses .courses-container .box {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: block;
}
.courses .courses-container .box:hover .text {
    bottom: 0;
}
.courses .courses-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
.courses .courses-container .box .text {
    background-color: #fff;
    font-size: 15px;
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: -100%;
    left: 0;
}
.courses .courses-container .box .text h4 {
    color: #333;
    margin-bottom: 10px;
}
.courses .courses-container .box .text p {
    color: #444;
}
.courses img {
    width: 100%;
    /* margin-left: 20px; */
}
.courses .view {
    width: 100%;
    text-align: center;
    font-size: 20px;
    /* margin: 20px 0; */
    border: none;
}
.courses .all {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.courses .all a {
    border: 1px solid #333;
    border-radius: 50px;
    padding: 5px;
    font-size: 20px;
    color: #444;
    font-weight: bold;
    padding: 10px;
}
.courses .all a:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: #fff;
}
/* End services */
/* Start our-teachers section */
.our-teachers .container {
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.our-teachers .container .box {
    display: flex;
    gap: 20px;
    padding: 10px;
    width: 500px;
    position: relative;
}
.our-teachers .container .box .text h3 {
    font-size: 25px;
}
.our-teachers .container .box .text h5 {
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: normal;
}
.our-teachers .container .box .text p {
    font-size: 13px;
    color: #444;
}
.our-teachers .container .box .text .icons {
    margin: 40px 0;
    position: absolute;
    bottom: 0;
}
.our-teachers .container .box .text .icons i {
    /* padding: 10px; */
    margin-left: 10px;
    font-size: 15px;
    color: black;
}
.our-teachers img {
    width: 250px;
}
/* End our-teachers section */
/* stats section starts */
.stats {
    background-image: url("/img/stats.jpg");
    background-size: cover;
    margin-top: 50px;
    position: relative;
    /* margin-bottom: 25px; */
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.stats .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.stats .box {
    width: 250px;
    position: relative;
    z-index: 5;
}
.stats .box h4 {
    font-size: 40px;
    color: #fff;
    text-align: center;
}
.stats .box p {
    font-size: 15px;
    text-align: center;
    color: #fff;
}
/* stats section ends */
/* contact section starts */
.contact {
    padding: 30px;
    background-color: #eee;
    position: relative;
}
.contact::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 500px;
    top: 0;
    background-color: var(--main-color);

}
.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact .contact-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #fff;
    width: 1000px;
    height: 450px;
    position: relative;
}
.contact .text {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact .text h3 {
    font-size: 25px;
    padding: 15px;
    text-align: center;
    color: var(--main-color);
}
.contact .text p {
    font-size: 15px;
    text-align: center;
    color: #333;

}
.contact form {
    position: absolute;
    left: 350px;
    top: 15px;
    padding: 15px;
}
.contact form input,
textarea {
    padding: 15px;
    width: 300px;
    border-bottom: 2px solid var(--main-color);
}
.contact img {
    width: 300px;
    position: absolute;
    left: 0;
    /* height: 530px; */
}
.contact .button {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  color: #fff;
  font-size: 16px;
  padding: 1rem 1.75rem;
  border: 0;
  /* when flex margin work when not margin not work */
  display: flex;
  margin: auto;
  margin-top: 15px;
  justify-content: center;
  cursor: pointer;
  width: 300px;
}
.contact .button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}
/* contact section ends */
/* footer section starts */
footer {
    background-color: #37aee2;
    text-align: center;
	padding: 20px 50px;
    margin-top: 250px;
	/* color: white; */
	font-size: 18px;
    position: relative;
    /* display: flex; */
    align-items: centers;
    justify-content: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5) inset
}
footer img {
    width: 60px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}
footer a {
    color: #fff;
    padding: 10px;
}
footer p {
    padding: 20px;
    padding-bottom: 0;
}
footer span {
	font-weight: bold;
	color: #fff;
    text-transform: capitalize;
}
/* footer section ends */